{% extends 'base.html.twig' %}

{% block title %}Home!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}"/>
{% endblock %}

{% block body %}
    <div class="container">
        {% for post in posts %}
            <div class="post">
                <a href="{{ path('profile_profile',{'username': post.user.pseudo}) }}"><p>{{ post.user.pseudo }}</p></a>
                <img src="{{ asset(post.image) }}" class="img-responsive img-thumbnail" alt="Cannot load"/>
            </div>
        {% endfor %}
    </div>
{% endblock %}
